# Node modules
node_modules

# Build output
build

# Environment variables
.env

# Misc
ADMIN-NOTES.MD

# Logs
# logs
# *.log
# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*

# OS-specific files
# .DS_Store
# Thumbs.db

# IDE-specific files
# .vscode
# .idea